# Avoid checking built artifacts after first commit

Day1/piece3/QuotesApi/bin/
Day1/piece3/QuotesApi/obj/

Day1/piece4/RefactoringExercise/tests/OrderApi.Tests/bin/
Day1/piece4/RefactoringExercise/src/OrderApi/obj/
Day1/piece4/RefactoringExercise/src/OrderApi/bin/
Day1/piece4/RefactoringExercise/tests/OrderApi.Tests/obj/

Day2/piece1/OrderApi/bin/
Day2/piece1/OrderApi/obj/
Day2/piece1/OrderApi.Tests/bin/
Day2/piece1/OrderApi.Tests/obj/

Day2/piece2/QuotesApi/bin/
Day2/piece2/QuotesApi/obj/
Day2/piece2/QuotesApi.Tests/bin/
Day2/piece2/QuotesApi.Tests/obj/

Day2/piece3/QuotesApi/bin/
Day2/piece3/QuotesApi/obj/
Day2/piece3/Tests.Domain/bin/
Day2/piece3/Tests.Domain/obj/

Day2/piece4/QuotesApi/bin/
Day2/piece4/QuotesApi/obj/
Day2/piece4/QuotesApi.Tests/bin/
Day2/piece4/QuotesApi.Tests/obj/

Day2/piece6/QuotesApi/bin/
Day2/piece6/QuotesApi/obj/
Day2/piece6/QuotesApi.Tests/bin/
Day2/piece6/QuotesApi.Tests/obj/